.flex_box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--main-color);
}

.ipt_txt {
  flex: 1;
  height: 5rem;
  border: none;
  background-color: transparent;
}

.ipt_txt:focus {
  outline: none;
}

.btn_submit {
  width: 12rem;
  height: 4rem;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-family: var(--event-font);
  color: var(--main-color);
  text-align: center;
  cursor: pointer;
  transition: .2s;
}

.btn_submit:hover {
  color: #fff;
  background-color: var(--main-color);
}