.task_line {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem .5rem .5rem;
}

.task_chk {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/task_chk.svg) no-repeat center/cover;
  cursor: pointer;
}

.task_txt {
  flex: 1;
}

.btn_del {
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  font-size: 1.3rem;
  color: var(--main-color);
  transition: .2s;
}

.btn_del:hover {
  background-color: var(--main-color);
  color: #fff;
}

.task_done .task_chk {
  background-image: url(../img/task_done.svg);
}

.task_done .task_txt {
  text-decoration: line-through;
  color: #666;
}