/* font_Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* font_Abril Fatface */
:root {
  --event-font: "Abril Fatface", serif;
}

:root {
  --main-color: #831111;
}

::selection {
  background-color: rgba(131, 17, 17, 0.7);
  color: #fff;
}

* {
  box-sizing: border-box;
  word-break: keep-all;
  font-size: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, select, textarea, button {
  font-family: inherit;
}

html {
  font-family: 'Pretendard', sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

.App {
  width: 90%;
  max-width: 800px;
  height: calc(100vh - 10rem);
  margin: 5rem auto;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  overflow: hidden;
}

#header {
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--main-color);
}

#header h1 {
  font-size: 4rem;
  font-family: var(--event-font);
  font-weight: bold;
  color: var(--main-color);
}